doctype html
html
    head
        title About
        link(rel="stylesheet",href="/stylesheets/about_style.css")
    body
        h1 About
        p A very simple currency converter website.
        p Lol, cat. Mreowr!
        
        img(src="/images/about.png")