doctype html
html
    head
        title Currency Converter
        link(rel="stylesheet",href="/stylesheets/currency_style.css")
    body
        img(src="/images/site_logo.png")
    
        block content
        
        hr
        div.about
            a(href="about") About this site