doctype html
html
    head
        title Currency
    body
        h1 Currency Converter
        
        form(action="/convert", method="GET")
            div(class="currency_form")
                span.label Amount in Dollars
                input(type="text", name="dollaramount")
                select(name="tocurrency")
                    option(value="Euro") Euros
                    option(value="Pounds") Pounds
            div(class="button")
                input(type="submit", value="Convet!")