extends base

block content

    h1 Currency Converter

    form(action="/convert", method="GET")
        div(class="currency_form")
            span.label Convert
            input(type="text", name="dollaramount")
            select(name="fromcurrency")
                option(value="Dollar") Dollar(s)
                option(value="Euro") Euro(s)
                option(value="Pound") Pound(s)
            span.label to
            select(name="tocurrency")
                option(value="Dollar") Dollar(s)
                option(value="Euro") Euro(s)
                option(value="Pound") Pound(s)
        div(class="button")
            input(type="submit", value="Convert!")